<footer class="site-footer flex-container">

    <div class="unit">
      <h3>Los Angeles office</h3>
      <address class="vcard">
        <p>
          <span class="fn">Icon Public Relations</span><br>
          <span class="street-address">8961 Sunset Blvd.<br>
          Ste. 1C</span><br>
          <span class="locality">West Hollywood</span>,
          <abbr class="region" title="California">CA</abbr>
          <span class="postal-code">90069</span><br>
          <span class="tel">760-932-0390</span>
        </p>
      </address>
    </div>

    <div class="unit">
      <h3>NYC office</h3>
      <address class="vcard">
        <p>
          <span class="fn">Icon Public Relations</span><br>
          <span class="street-address">310 E 46th Street<br>
            <span class="locality">New York</span>,
          <abbr class="region" title="New York">NY</abbr>
          <span class="postal-code">10017</span><br>
        </p>
      </address>
    </div>

</footer>

<script src="{{ "/assets/js/components.js" | prepend: site.baseurl }}"></script>
