* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: $soft-grey;
  color: $ink;
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-size: 1.125em;
  font-weight: $regular;
  line-height: 0;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $ink;
  }
}

hr {
  opacity: 0.25;
}

abbr {
  border-bottom: none !important;
  text-decoration: none !important;
}

address {
  font-style: normal !important;
}

section {
  padding: 2rem 0;
}

.caption {
  & p {
    padding-top: 1rem;
  }
}

@mixin small-text() {
  font-size: 0.875em;
}
