.caption {
  p {
    padding-top: 1rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 1rem;
}

.hero {
  @include shadow();

  @media (min-width: 56rem) {
    display: flex;
    width: calc(100% + 4rem);
    margin-left: -2rem;
   }

  &-image {
    width: 100%;

    @media (min-width: 56rem) {
      width: 50%;
    }

     img {
       width: 100%;
     }
  }

  &-intro {
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    width: 100%;

    @media (min-width: 56rem) {
      padding: 3rem;
      width: 50%;
    }
  }
}

.location-card {
  line-height: 0;

  img {
    max-width: 100%;
  }

  .address {
    background-color: $white;
    line-height: 1.5;
    padding: 1.5rem;

    @media (min-width: 56rem) {
      padding: 2rem;
    }
  }
}

.logo {
  height: 8rem;

  @media (min-width: 56rem) {
    height: 10rem;
  }
}

.site-footer {
  margin: 1rem 0;
  padding: 1rem 0;
}

.social-icons {
  margin-top: 0;
  padding: 0;

  & li {
    display: inline-block;

    &:before {
      content: "\2002";
    }

    & img {
      max-height: 24px;
      max-width: 28px;
    }
  }
}

.site-header {
  display: flex;
  flex-flow: nowrap;
  margin: 1rem 0 2rem 0;
}

.header-nav {
  text-align: right;
}

.main-nav {
  letter-spacing: 0.05em;
  line-height: 1.75;
  list-style-type: none;
  margin: 1rem 0;
  font-size: 0.85em;
  font-weight: $bold;
}

/* TEAM */

.team-member-name {
  margin: 0;
  padding: 0;
}

.team-member-role {
  color: $brand-color;
  font-size: 0.85em;
  font-weight: $bold;
  letter-spacing: 0.125em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
  width: 100%;

  &.active {

    & img {
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
    }
  }
}

.icon-dropdown {
  @include border-radius(100%);
  background-color: $white;
  height: 3rem;
  padding: 0.5rem;
  width: 3rem;
}

.accordion-panel {
  display: none;
  overflow: hidden;

  & p:first-child {
    margin-top: 0;
  }
}

.video-wrapper {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  & iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
