.location-card {
  @include small-text();
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 1em;

  & img {
    border-radius: 112px;
    object-fit: cover;
    height: 112px;
    width: 112px;
  }

  & .address {
    line-height: 1.5;
    text-align: center;

    & p {
      margin: 0;
    }
  }
}
