.meta-press-gallery {
  @include cols(2, 4);
  @include small-text();

  &-item {
    align-items: flex-end;
    background-color: $ink;
    background-size: cover;
    display: flex;
    height: 12rem;
    padding: 1rem;
  }
}

.publisher-logo {
  width: 100%;
}
