.partners {
  @include cols(1, 4);
  align-items: center;

  & h2 {

    @media (min-width: 48rem) {
      margin: 0 2rem 0 0;
    }
  }
}

.partners a {
  text-align: center;
}

.partners img {
  max-height: 12rem;
  max-width: 12rem;
  height: auto;
  width: 100%;
  padding: 0 2rem;
}
