.site-footer {
  padding-top: 2rem;
}

.locations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 3rem 0;
  padding: 1rem 0;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(5, 1fr);
  }
}


