.social-icons {
  margin-top: 0;
  padding: 0;
  text-align: right;

  & li {
    display: inline-block;

    &:before {
      content: "\2002";
    }

    & img {
      max-height: 24px;
      max-width: 28px;
    }
  }
}
